bazel-bin
bazel-out
bazel-testlogs
bazel-blink

iwyu.out
script/analyzer/clang-analysis
.vscode/settings.json

blink/compiler/ast/ast_enum.go
blink/compiler/parser/thrift.peg.go
blink/compiler/generator/template/template-packr.go
blink/compiler/packrd/packed-packr.go

dist/blinkc
go.sum
examples/type/foo.thrift.cc
examples/type/foo.thrift.h
compile_commands.json
examples/type/ast.json
