default_stages: [commit]
repos:
  # >>>>>>>>>>>>>>>>>>>>> basic <<<<<<<<<<<<<<<<<<<< #
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.4.0'
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: sort-simple-yaml
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.0.0-alpha.4'
    hooks:
      - id: prettier
  - repo: https://github.com/commitizen-tools/commitizen
    rev: 'v2.42.0'
    hooks:
      - id: commitizen
        stages: [commit-msg]
  # >>>>>>>>>>>>>>>>>>>>> basic <<<<<<<<<<<<<<<<<<<< #

  # >>>>>>>>>>>>>>>>>>>>> bash <<<<<<<<<<<<<<<<<<<< #
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: 'v3.6.0-1'
    hooks:
      - id: shfmt
        args: ['-w', '-i', '2', '-s', '-l', '-ci']
  # >>>>>>>>>>>>>>>>>>>>> bash <<<<<<<<<<<<<<<<<<<< #

  # >>>>>>>>>>>>>>>>>>>>> python <<<<<<<<<<<<<<<<<<<< #
  - repo: https://github.com/google/yapf
    rev: 'v0.32.0'
    hooks:
      - id: yapf
        additional_dependencies: [toml]
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v3.3.1'
    hooks:
      - id: pyupgrade
  - repo: https://github.com/PyCQA/isort
    rev: '5.12.0'
    hooks:
      - id: isort
        args: ['--line-length=100']
  # >>>>>>>>>>>>>>>>>>>>> python <<<<<<<<<<<<<<<<<<<< #

  # >>>>>>>>>>>>>>>>>>>>> golang <<<<<<<<<<<<<<<<<<<< #
  - repo: https://github.com/golangci/golangci-lint
    rev: 'v1.51.1'
    hooks:
      - id: golangci-lint
  # >>>>>>>>>>>>>>>>>>>>> golang <<<<<<<<<<<<<<<<<<<< #

  - repo: https://github.com/yoheimuta/protolint
    rev: 'v0.42.2'
    hooks:
      - id: protolint
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 'v0.33.0'
    hooks:
      - id: markdownlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v15.0.7'
    hooks:
      - id: clang-format
